<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SupaArchive{% endblock %}</title>
    <!-- Include Tailwind CSS -->
    <script src="https://kit.fontawesome.com/9070ffd32e.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

<body class="bg-gray-100">
    <nav class="bg-gray-200 p-4">
        <div class="container mx-auto">
            <!-- Navigation Links -->
            <ul class="flex space-x-4 justify-center items-center">
                <li></li>
                <li>
                    <a href="/" class="text-blue-500 hover:text-blue-700">
                    <div class="flex justify-center items-center">
                        <img src="/static/mini.svg" alt="The supaarchive logo" class="justify-center align-middle h-4" />
                        <p class="text-nowrap">&nbsp;Home</p>
                    </div>
                    </a>
                </li>
                <li><a href="/gallery" class="text-blue-500 hover:text-blue-700">Gallery</a></li>
                <li><a href="/search" class="text-blue-500 hover:text-blue-700">Search</a></li>
                <li><a href="/stats" class="text-blue-500 hover:text-blue-700">Stats</a></li>
                <li><a href="/administration" class="text-blue-500 hover:text-blue-700">Administration</a></li>
            </ul>
        </div>
    </nav>

    <main class="container mx-auto p-4">
        {% block content %}
        <!-- Main content will go here when this template is extended -->
        {% endblock %}
    </main>

    <footer class="bg-gray-700 text-white p-4">
        <div class="container mx-auto text-center">
            {% block footer %}
            &copy; 2024 UwU
            {% endblock %}
        </div>
    </footer>
</body>
</html>
